*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f5f8;
}

/* HEADER */

.header{
    min-height:90px;
    background:#002b6b;

    display:flex;
    justify-content:center;
    align-items:center;
}

.tituloHeader{
    color:white;
    font-size:28px;
    font-weight:900;
    text-align:center;
}

/* CONTENEDOR */

.contenedor{
    max-width:430px;
    margin:auto;
    padding:20px;
}

/* TITULOS */

.tituloPrincipal{
    text-align:center;
    color:#002b6b;
    font-size:30px;
    font-weight:900;
}

.subtitulo{
    text-align:center;
    color:#666;
    font-size:15px;
    margin-top:10px;
    margin-bottom:25px;
}

/* PREGUNTAS */

.pregunta{
    color:#002b6b;
    font-size:18px;
    font-weight:800;
    margin-bottom:15px;
}

.espacioSuperior{
    margin-top:25px;
}

/* OPCIONES */

.grupoOpciones{
    display:flex;
    flex-direction:column;
    gap:10px;
}

.opcionRadio{

    display:flex;
    align-items:center;
    gap:12px;

    background:white;

    border:2px solid #e5e5e5;
    border-radius:16px;

    padding:14px;

    cursor:pointer;

    transition:.2s;
}

.opcionRadio:hover{
    background:#f8f9fc;
}

.opcionRadio input[type="radio"]{
    width:22px;
    height:22px;
    accent-color:#002b6b;
}

.opcionRadio span{
    font-size:15px;
    color:#333;
    font-weight:600;
}

/* CAMPOS EXTRA */

.campoOculto{

    display:none;

    width:100%;

    margin-top:12px;

    height:50px;

    border:2px solid #ddd;
    border-radius:12px;

    padding:0 15px;

    font-size:15px;

    background:white;
}

.campoOculto.mostrar{
    display:block;
}

.campoOculto:focus{
    outline:none;
    border-color:#002b6b;
}

/* BOTONES */

.botones{
    display:flex;
    gap:10px;
    margin-top:30px;
}

.btnAtras,
.btnSiguiente{

    flex:1;

    height:55px;

    border:none;

    border-radius:15px;

    font-size:16px;
    font-weight:bold;

    cursor:pointer;
}

.btnAtras{
    background:white;
    border:1px solid #ddd;
}

.btnSiguiente{
    background:#e30613;
    color:white;
}

/* MODAL */

.modalOculto{
    display:none;
    position:fixed;
    inset:0;

    background:rgba(0,0,0,.45);

    z-index:9999;

    justify-content:center;
    align-items:center;
}

.modalContenido{

    width:90%;
    max-width:340px;

    background:white;

    border-radius:20px;

    padding:25px;

    text-align:center;
}

.modalTitulo{
    color:#002b6b;
    font-size:22px;
    font-weight:800;
    margin-bottom:12px;
}

.modalTexto{
    color:#666;
    line-height:1.5;
    margin-bottom:20px;
}

.btnModal{

    width:100%;
    height:50px;

    border:none;

    border-radius:12px;

    background:#e30613;

    color:white;

    font-size:16px;
    font-weight:700;
}